/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4074935 */
  src: url('//at.alicdn.com/t/c/font_4074935_405h5pop86q.woff2?t=1684398296936') format('woff2'),
       url('//at.alicdn.com/t/c/font_4074935_405h5pop86q.woff?t=1684398296936') format('woff'),
       url('//at.alicdn.com/t/c/font_4074935_405h5pop86q.ttf?t=1684398296936') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yiliao_xindianyi:before {
  content: "\e63a";
}

.icon-yiliao_shezhi:before {
  content: "\e63b";
}

.icon-yiliao_kejiezhen:before {
  content: "\e63d";
}

.icon-huanzhexinxi:before {
  content: "\e737";
}

.icon-zhenduan:before {
  content: "\e738";
}

.icon-tijian:before {
  content: "\e73e";
}

.icon-yaopin:before {
  content: "\e74a";
}

.icon-zaixianwenzhen:before {
  content: "\e7b9";
}

